<div class="container">
  <div class="row mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <table class="table table-borderless">
        <tr>
          <th><%= link_to "投稿", new_post_path, class: "btn btn-primary btn-lg" %></th>
          <th class="text-right"><%= render "user/searches/search" %></th>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <% if user_signed_in? %>
        <%= render "user/users/info", user: current_user %>
      <% end %>
    </div>

    <div class="col-md-6">
      <table class="table table-hover">
        <thead>
          <tr class="text-right">
            <th>質問一覧</th>
            <th class="colspan-3"></th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |posts| %>
            <tr>
              <td>
                <%= link_to (posts.user) do %>
                  <%= image_tag posts.user.get_profile_image, size:"50x50" %>
                <% end %>
              </td>
              <td><%= link_to posts.body, post_path(posts) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
